# Gradle specific
.gradle/
build/

# Gradle Wrapper
gradle-wrapper.jar

# Eclipse
.classpath
.project
.settings/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/

# Log files
*.log

# Compiled class files
*.class

*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

